@use '../../../styles/common.scss';

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 480px;
	background: common.$radial-gradient-background;
	border-width: 0;
	border-radius: 39px;

	.header {
		font-family: common.$default-font-family;
		font-size: 30px;
		color: #090909;
	}

	.logo {
		height: 100px;
	}

	.form {
		padding-top: 16px;
		display: flex;
		flex-flow: column nowrap;
		font-size: 24px;
		width: 60%;

		.dataBlock {
			display: flex;
			flex-flow: column nowrap;

			.inputBlock {
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				font-size: 1em;
				height: 90px;

				.name {
					font-family: common.$default-font-family;
					font-size: 1em;
					color: #292929;
				}

				.input {
					width: 100%;
					height: 30px;
					border-radius: 6px;
					border-width: 0;
					background-color: #c9b1d3;
					box-shadow: #0c0c0d0d 0 4px 4px -1px inset;
					font-size: 1.25em;
					padding-left: 5%;
					padding-right: 5%;

					&:focus {
						outline: none;
					}
				}

				.error {
					color: common.$error-color;
					font-family: common.$default-font-family;
					font-size: 0.66em;
					width: 80%;
				}
			}
		}

		.serverError {
			height: 30px;
			color: common.$error-color;
			font-family: common.$default-font-family;
			font-size: 0.8em;
			display: flex;
			justify-content: center;
		}

		.submitButton {
			display: flex;
			justify-content: center;
			flex-direction: row;
			font-size: 0.75em;

			button {
				@include common.default-button(1.5em, 44px, common.$dark-blue, #d8eaf6);

				width: 60%;
				font-family: common.$default-font-family;
				font-size: 1em;

				&:disabled {
					background-color: common.$disabled-background-button-color;
				}
			}
		}

		footer {
			height: 32px;
		}
	}
}

@media (width < 560px) {
	.wrapper {
		width: 320px;

		.header {
			font-size: 20px;
		}

		.form {
			font-size: 20px;
		}
	}
}
