@use '../../../../../styles/common';

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-family: common.$default-font-family;
	color: common.$dark-blue;
	font-size: 24px;
	height: 150px;

	.name {
		font-size: 1.5em;
		display: flex;
		justify-content: center;
	}

	.userNameWrapper {
		display: flex;
		justify-content: center;

		.userName {
			font-size: 2.5rem;

			@include common.no-overflow;
		}
	}

	.logout {
		display: flex;
		justify-content: center;
		padding-top: 10px;

		button {
			border-radius: 44px;
			padding-left: 1.5em;
			padding-right: 1.5em;
			font-size: 1em;
			background-color: #f6e4fe;
			font-family: common.$default-font-family;
			border-width: 0;
			height: 32px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
