@use '../../styles/common.scss';

.pageWrapper {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	flex-grow: 1;

	.wrapper {
		flex: 1 0 auto;

		.manageBlock {
			padding-left: 5%;
			padding-top: 40px;

			button {
				@include common.default-button(38px, 10px, common.$dark-blue, #efcefa);

				font-size: 1.4em;
				padding-left: 0.5em;
				padding-right: 0.5em;
				box-shadow: 0 4px 4px 0 #00000040;

				&:disabled {
					background-color: common.$disabled-background-button-color;
				}
			}

			p {
				font-size: 1.4em;
				font-family: common.$default-font-family;
				color: common.$dark-blue;
				padding-top: 1em;
			}
		}

		.shopName {
			padding-left: 5%;
			padding-right: 5%;
			padding-top: 40px;
			width: 100%;

			h2 {
				font-size: 3em;
				font-family: common.$default-font-family;
				color: common.$dark-blue;
				word-break: break-word;
			}

			p {
				font-size: 1.2em;
				font-family: common.$default-font-family;
				color: common.$dark-blue;
				width: 100%;
				word-break: break-word;
			}
		}

		.productsLabel {
			padding-left: 5%;
			font-size: 3em;
			font-family: common.$default-font-family;
			color: common.$dark-blue;
			padding-top: 0.5em;
		}

		.products {
			height: 100%;
			margin-top: 32px;
			padding-left: 10%;
			padding-right: 10%;
			padding-bottom: 24px;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
			grid-gap: 32px;
			grid-auto-flow: dense;

			.product {
				display: flex;
				justify-content: center;

				.card {
					display: flex;
					flex-flow: column nowrap;
					width: 256px;
					font-size: 24px;

					.image {
						width: 100%;
						height: 256px;
						border-width: 0;
						border-radius: 20px;
						overflow: hidden;
						background: white;

						img {
							width: 100%;
							height: 100%;
						}
					}

					.price {
						font-size: 1em;
						font-family: common.$default-font-family;
						padding: 6px 5% 5%;
						line-height: 1em;
						height: 1em;
					}

					.name {
						padding: 0 5%;
						margin-top: 16px;
						font-family: common.$default-font-family;
						font-size: 0.7em;

						@include common.show-few-lines-with-no-overflow(0.7em, 2, 1em, break-word);

						text-align: start;
					}

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}

	footer {
		background: #b385f8;
		height: 75px;
	}
}

.preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	min-height: 100%;
	width: 100%;
}

@media (width < 700px) {
	.pageWrapper {
		.wrapper {
			.products {
				display: flex;
				align-items: center;
				flex-flow: column nowrap;
			}
		}
	}
}
