@use '../../styles/common.scss';

.pageWrapper {
	min-height: 100vh;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;

	.wrapper {
		width: 320px;
		max-width: 320px;
		height: 400px;
		background: common.$radial-gradient-background;
		display: flex;
		flex-flow: column nowrap;
		border-radius: 39px;
		border-width: 0;
		font-size: 48px;

		h2 {
			font-family: common.$default-font-family;
			font-size: 0.8em;
			text-align: center;
			padding-top: 10px;
		}

		.logo {
			max-height: 90px;
			height: 90px;
		}

		.formWrapper {
			padding-top: 8px;
			display: flex;
			flex-flow: column nowrap;
			flex: 0 auto;
			align-items: center;
			width: 100%;

			.inputBlock {
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				width: 100%;

				.inputBox {
					display: flex;
					flex-flow: column nowrap;
					width: 80%;
					padding-bottom: 15px;

					.input {
						width: 100%;
						background-color: white;
						border-radius: 15px;
						border-width: 0;
						height: 38px;
						padding-left: 2%;
						padding-right: 2%;
						font-size: 0.5em;
						font-family: common.$default-font-family;

						&::placeholder {
							color: common.$default-placeholder-color;
							text-align: left;
						}

						&:focus {
							outline: none;
						}
					}

					.error {
						font-family: common.$default-font-family;
						font-size: 0.35em;
						height: 1.5em;
						color: common.$error-color;
					}

					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			.requestBtn {
				display: flex;
				justify-content: center;
				padding-top: 10px;

				button {
					@include common.default-button(60px);

					font-size: 0.5em;
					padding-left: 0.3em;
					padding-right: 0.3em;
					margin-top: 4%;
					height: 2em;

					&:disabled {
						background-color: common.$disabled-background-button-color;
					}
				}
			}
		}
	}
}
