@use '../../styles/common.scss';

.wrapper {
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	background: common.$linear-gradient-background;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 0;

	.logo {
		max-height: 100px;
		padding-top: 40px;
	}

	.text {
		font-family: common.$default-font-family;
		font-size: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex: 1 auto;
		height: 100%;
	}
}

@media (width < 600px) {
	.wrapper {
		.text {
			font-size: 32px;
		}
	}
}
